<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chatroom.tieba.mapper.ChatMemberMapper">

    <insert id="insertIgnoreOrInsert" parameterType="com.chatroom.tieba.entity.ForumChatMember">
        INSERT IGNORE INTO forum_chat_member(room_id, user_id, joined_at)
        VALUES(#{roomId}, #{userId}, NOW())
    </insert>

    <select id="findByRoomIdAndUserId" resultType="com.chatroom.tieba.entity.ForumChatMember">
        SELECT *
        FROM forum_chat_member
        WHERE room_id = #{roomId}
          AND user_id = #{userId}
        LIMIT 1
    </select>

    <select id="countByRoomId" resultType="int">
        SELECT COUNT(1)
        FROM forum_chat_member
        WHERE room_id = #{roomId}
    </select>

</mapper>
